# 1. Geheime Konfiguration (NIEMALS HOCHLADEN!)
config.json

# 2. Deine privaten User-Datenbanken & Logs
banned_log.json
cmd_log.json
known_users.json
warnings.json
stats.json
karma.json

# 3. Python Müll und Cache (braucht GitHub nicht)
__pycache__/
*.pyc
venv/
.DS_Store
