# Geheime Konfiguration (NIEMALS HOCHLADEN)
config.json

# Datenbanken und Logs (Userdaten!)
banned_log.json
cmd_log.json
known_users.json
warnings.json
stats.json

# Python Müll
__pycache__/
*.pyc
venv/
.DS_Store
